// Button with icon
//
// <button class="icon-button">
//      <span class="icon-button-label">Hover me</span>
//      <i class="material-icons icon-button-icon">favorite</i>
//    </button>
.icon-button {

  $this: &;
  $icon: #{$this}-icon;
  $label: #{$this}-label;

  @at-root {

    #{$this} {

      @include base-button;
      @include to-fade-in-button;

      &.to-opacity {
        #{$label} {
          transform: translateX(19px);
        }
        #{$icon} {
          opacity: 0;
          + #{$label} {
            transform: translateX(-19px);
          }
        }

        &:hover, &:focus {
          #{$label} {
            transform: translateX(0);
          }
          #{$icon} {
            opacity: 1;
          }
        }
      }

      &.to-transparent {
        &:hover, &:focus {
          background: transparent;
          color: $_color-primary;
        }
      }

      &.to-replace {
        #{$icon} {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) !important;
          opacity: 0;
        }
        #{$label} {
          transform: none;
        }

        &:hover, &:focus {
          #{$label} {
            opacity: 0;
          }
        }
      }

      &:hover, &:focus {
        @include background-button;
        #{$icon} {
          opacity: 1;
        }
      }

    }
    #{$label} {
      transition: inherit;
      flex: 1;
      margin-right: 4px;

      + #{$icon} {
        text-align: right;
      }
    }
    #{$icon} {
      transition: inherit;
      width: 30px;
      text-align: left;

      + #{$label} {
        margin: 0 0 0 4px;
      }
    }
  }

}