
// Colors
// =========================
$_color-primary :           #b30000 !default;
$_color-secondary :         #eeebdf !default;
$_color-black :             #000000 !default;
$_color-white :             #FFFFFF !default;
$_color-success :           #23DB72 !default;
$_color-info :              #00B0FF !default;
$_color-warning :           #FF9800 !default;
$_color-error :             #FB4635 !default;
$_color-light :             rgb(235,235,235) !default;
$_color-grey :              #676767 !default;
$_color-online :            #00C853 !default;
$_color-way :               #f1c40f !default;
$_color-offline :           #e74c3c !default;

// Color mapping
// Key :    class name
// Value :  color
// =========================
$_colors : (
        primary :   $_color-primary,
        secondary : $_color-secondary,
        black :     $_color-black,
        white :     $_color-white,
        success :   $_color-success,
        info :      $_color-info,
        warning :   $_color-warning,
        error :     $_color-error,
        grey :      $_color-grey,
) !default;

// Fonts
// =========================
$_ft-primary :              "Roboto" ,sans-serif !default;
$_ft-secondary :            $_ft-primary !default;
$_ft-base-size :            1em !default;

// (p, a, input, span, label, ...)
// =========================
$_ft-text-family :          var(--ft-primary) !default;
$_ft-text-color :           var(--black) !default;
$_ft-text-size :            $_ft-base-size !default;
$_ft-text-weight :          400 !default;
$_ft-text-line-height :     1.45 !default;

// (h1, h2, h3, ...)
// =========================
$_ft-title-family :         var(--ft-primary) !default;
$_ft-title-color :          $_ft-text-color !default;
$_ft-title-weight :         600 !default;
$_ft-h1-size :              $_ft-base-size * 2.4 !default;
$_ft-h2-size :              $_ft-base-size * 2.1 !default;
$_ft-h3-size :              $_ft-base-size * 1.8 !default;
$_ft-h4-size :              $_ft-base-size * 1.6 !default;
$_ft-h5-size :              $_ft-base-size * 1.3 !default;
$_ft-h6-size :              $_ft-base-size !default;

// Title mapping
// Key :    class name
// Value :  font-size
// =========================
$_titles : (
        h1 : $_ft-h1-size,
        h2 : $_ft-h2-size,
        h3 : $_ft-h3-size,
        h4 : $_ft-h4-size,
        h5 : $_ft-h5-size,
        h6 : $_ft-h6-size,
) !default;

// Container
// =========================
$_body-background-color:          var(--white) !default;
