// Button with background color
@mixin background-button() {
  background: $_color-primary;
  color: get-contrast-text($_color-primary);
}

// Button with to-fade-in option
@mixin to-fade-in-button {
  &.to-fade-in {
    border-color: rgba($_color-primary, 0.4);
    color: rgba($_color-primary, 0.75);
    &:hover, &:focus {
      background: none;
      color: $_color-primary;
      border-color: $_color-primary;
    }
  }
}

// Base for button
@mixin base-button($with-rounded : true, $with-nuance : true, $with-background: true) {

  border: solid 1px $_color-primary;
  padding: 12px 23px;
  @include p(transition, all 0.3s ease);
  color: $_color-primary;
  position: relative;
  @include p(display, inline-flex);
  @include p(align-items, center);
  cursor: pointer;

  @if $with-rounded {
    &.rounded {
      border-radius: 30px;
    }
  }

  @if $with-nuance {
    &.to-nuance {
      &:hover, &:focus {
        background: darken($_color-primary, 10%);
        border-color: darken($_color-primary, 10%);
      }
    }
  }

  @if $with-background {
    &.background {
      @include background-button;
    }
  }

  &.medium {
    padding: 8px 16px;
  }

  &.small {
    padding: 3px 12px;
  }

  &.thick {
    border-width: 2px;
  }

  &.shadow {
    box-shadow: 0 30px 50px rgba(0,0,0,.16);
    &.medium {
      box-shadow: 0 24px 45px rgba(0,0,0,.16);
    }
    &.small {
      box-shadow: 0 18px 40px rgba(0,0,0,.16);
    }
  }

  &.to-shadow {
    &.medium {
      &:hover, &:focus {
        box-shadow: 0 24px 45px rgba(0, 0, 0, .16);
      }
    }
    &.small {
      &:hover, &:focus {
        box-shadow: 0 18px 40px rgba(0, 0, 0, .16);
      }
    }
    &:hover, &:focus {
      box-shadow: 0 30px 50px rgba(0,0,0,.16);
    }
  }

}
