// Swipe button
//
// <button class="swipe-button">Swipe button</button>
.swipe-button {

  $this : &;

  @at-root {

    #{$this} {

      border: solid 1px var-color(primary);
      padding: 12px 23px;
      @include p(transition, $_default-transition);
      color: var-color(primary);
      position: relative;
      @include p(display, inline-flex);
      @include p(align-items, center);
      cursor: pointer;
      overflow: hidden;

      &:after {
        content: "";
        position: absolute;
        top:0;
        left: 0;
        bottom: 0;
        width: 0;
        transition: inherit;
        background: var-color(primary);
        z-index: -1;
      }
      &.rounded {
        border-radius: 30px;
      }
      &.reversed {
        &:after {
          right: 0;
          width: 0;
          left: auto;
        }
        &:hover, &:focus {
          &:after {
            left: 0;
            width: 100%;
          }
        }
      }
      &.to-left {
        &:after {
          right: 0;
          left: auto;
        }

        &.reversed {
          &:after {
            right: auto;
            left: 0;
          }
          &:hover, &:focus {
            &:after {
              right: 0;
              left: auto;
            }
          }
        }
      }
      &.to-bottom {
        &:after {
          width: 100%;
          top: 0;
          height: 0;
        }
        &:hover, &:focus {
          &:after {
            height: 100%;
            top: 0;
          }
        }
        &.reversed {
          &:after {
            height: 0;
            bottom: 0;
            top: auto;
          }
          &:hover, &:focus {
            &:after {
              height: 100%;
              top: 0;
            }
          }
        }
      }
      &.to-top {
        &:after {
          top: auto;
          height: 0;
          width: 100%;
        }
        &:hover, &:focus {
          &:after {
            height: 100%;
          }
        }
        &.reversed {
          &:after {
            top: 0;
            height: 0;
            bottom: auto;
          }
          &:hover, &:focus {
            &:after {
              top: auto;
              bottom: 0;
              height: 100%;
            }
          }
        }
      }
      &:hover, &:focus {
        color: $_color-white;
        &:after {
          width: 100%;
        }
      }
      &.tiny {
        border-width: 2px;
      }

      @each $class, $color in $_button-color-variations {
        &.#{$class}{
          border-color: $color;
          color: $color;
          &:after {
            background: $color;
          }
          &:hover, &:focus {
            color: get-contrast-text($color);
          }
        }
      }

    }

  }

}